<div class="question-form-container">
  <h3><%= current_question.content %></h3>
    <form class="question-form" action="/taken_surveys/<%= current_taken_survey.id %>/answers" method="post">
      <% current_question.possibilities.each do |possibility| %>
      <p><input type="radio" name="possibility_id" value="<%= possibility.id %>"></p>
      <p><%= possibility.choice %></p>
    <% end %>
      <input type="hidden" name="question_id" value="<%= current_question.id %>">
      <input class="question-form-submit" type="submit" value="submit" >
    </form>
    <% if defined?(errors) %>
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
</div>
