<!-- display individual user information -->
<h2><%= user.username%>'s Profile</h2>
<p>Set up their profile on: <%= long_form_date(user.created_at) %></p>
<p>Last logged in: <%= long_form_date(user.updated_at) %></p>
<h3><%= user.username%> has created: <%= user.surveys.length %> survey(s)!</h3>
<% user.surveys.each do |survey| %>
  <a href="/surveys"><%= survey.title %></a>
  <br>
<% end %>
<p><%= user.username %> has taken: <%= user.taken_surveys.length %> surveys!</p>
  <% user.taken_surveys.each do |taken| %>
    <a href="/surveys"><%= taken.survey.title %></a>
    <br>
  <% end %>
