<h1><%=survey.title%></h1>
<p><%=takers.length%> people have taken this survey</p>
<p>List of survey takers' usernames:</p>
<%takers.each do |taker|%>
  <%=taker.username%>
<%end%>

<%questions.each do |question|%>
<hr>
  <h3 style="color:black;"><%=question.content%></h3>
  <ul>
  <%question.possibilities.each do |possibility|%>
    <li><h6><%=possibility.choice%></h6></li>
      <p>Chosen by <%= possibility.answers.length %> survey takers out of <%= question.answers.length %> total survey takers</p>
  </ul>
  <%end%>

<%end%>
